@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background: rgba(0, 0, 172, 0.836);
}
header {
    background: rgba(1, 1, 58, 0.692);
    color: rgba(255, 255, 255, 0.877);
    width: 100vw;
}
header h1 {
    padding: 20px;
    text-align: center;
}
header li {
    display: block;
}
header a {
    padding: 15px;
    background-color: rgb(15, 134, 170);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.486);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.486);
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
}
header a:hover {
    background-color: rgb(92, 160, 180);
    text-decoration: none;
    color: white;
}
#iconhamb {
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}
#iconhamb:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
#itens {
    display: none;
}
main {
    background-color: white;
    width: 80vw;
    margin: auto;
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.445);
}
main h2 {
    padding-bottom: 10px;
}
main p {
    line-height: 1.5em;
    text-indent: 20px;
}